packaging_format = 2

id = "mattermost"
name = "Mattermost"
description.en = "Collaboration platform built for developers"
description.fr = "Plateforme de collaboration conçue pour les développeurs"

version = "11.2.2~ynh1"

maintainers = ["pmorinerie"]

[upstream]
license = "GPL-3.0-only"
website = "http://www.mattermost.org/"
admindoc = "https://docs.mattermost.com/guides/deployment.html"
userdoc = "https://docs.mattermost.com/guides/messaging.html"
code = "https://github.com/mattermost/mattermost-server"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = ["amd64", "armhf", "arm64"]
multi_instance = true

ldap = false
sso = false

disk = "750M"
ram.build = "350M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/mattermost"

    [install.init_main_permission]
    help.en = "If visitors selected, Mattermost will be accessible by users without a YunoHost account. This can be changed later via the webadmin."
    help.fr = "Si « Visiteurs » est sélectionné, Mattermost sera accessible même par les utilisateurs n’ayant pas de compte YunoHost. Vous pourrez changer ce réglage plus tard dans l’interface d’administration."
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

    [install.version]
    ask.en = "Choose the version you want to install"
    ask.fr = "Choisissez la version que vous souhaitez installer"
    help.en = "Use Team Edition for the open source version (ARM, ARM64 and x86-64 support) or Enterprise Edition if you want to use a license (x86-64 and ARM64 support). Mostlymatter is a fork of Mattermost Team Edition that removes the limitations on users and messages count."
    help.fr = "Utilisez Team Edition pour la version open-source (prise en charge ARM, ARM64 et x86-64) ou Édition Enterprise si vous souhaitez utiliser une licence (prise en charge x86-64 et ARM64). Mostlymatter est un fork de Mattermost qui retire les limitations du nombre d'utilisateurs et de messages."
    type = "select"
    choices = ["Enterprise", "Team", "Mostlymatter"]
    default = "Team"

    [install.language]
    ask.en = "Choose the language of the chat for the admin"
    ask.fr = "Choissisez la langue utilisée par le compte administrateur"
    type = "select"
    choices = ["de", "en", "es", "fr", "it", "pt"]
    default = "fr"

    [install.team_display_name]
    ask.en = "Choose a Team name"
    ask.fr = "Choisissez le nom de l’équipe"
    type = "string"
    example = "Team"
    default = "Team"

[resources]
    [resources.sources]

        [resources.sources.team]
        amd64.url = "https://releases.mattermost.com/11.2.2/mattermost-team-11.2.2-linux-amd64.tar.gz"
        amd64.sha256 = "2a2b3c5a065c2adb2d1f9339efe6baf4a8a4fe0f0f2ca1c8811c8b9c4187097b"
        arm64.url = "https://releases.mattermost.com/11.2.2/mattermost-team-11.2.2-linux-arm64.tar.gz"
        arm64.sha256 = "6be0ead5dfea4eb845611fcf2409072553d3e994852b2e305bf3279710725e61"
        armhf.url = "https://github.com/remiheens/mattermost-docker-arm/releases/download/v11.2.1/mattermost-v11.2.1-linux-arm.tar.gz"
        armhf.sha256 = "9f9b6db7e07282e2fabaf5055ebe7694ca67966ecf6848f30bd2fce03b48c7bc"

        [resources.sources.enterprise]
        amd64.url = "https://releases.mattermost.com/11.2.2/mattermost-enterprise-11.2.2-linux-amd64.tar.gz"
        amd64.sha256 = "76826e19094713a4f075e9b75d1b86b55201a2b5695d137730802d41946add2c"
        arm64.url = "https://releases.mattermost.com/11.2.2/mattermost-enterprise-11.2.2-linux-arm64.tar.gz"
        arm64.sha256 = "94ca15ec7d4106be09e1032bbba679122838ebd10fabdf5975877795bdcd0841"

        [resources.sources.mostlymatter]
        in_subdir = false
        extract = false
        rename = "mostlymatter"
        amd64.url = "https://packages.framasoft.org/projects/mostlymatter/mostlymatter-amd64-v11.2.1"
        amd64.sha256 = "55dfc288936e990f1a7e3758cb06274c2870900806a9000dd9d0cd2c98247944"
        arm64.url = "https://packages.framasoft.org/projects/mostlymatter/mostlymatter-arm64-v11.2.1"
        arm64.sha256 = "15354b03cb714ddfe3f092de923e86761854a75775fbf2d627ecd6f469631683"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]

    [resources.data_dir]
    
    [resources.ports]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "postgresql, pgloader"

    [resources.database]
    type = "postgresql"
