packaging_format = 2

id = "mattermost"
name = "Mattermost"
description.en = "Collaboration platform built for developers"
description.fr = "Plateforme de collaboration conçue pour les développeurs"

version = "11.4.1~ynh1"

maintainers = ["pmorinerie"]

[upstream]
license = "GPL-3.0-only"
website = "http://www.mattermost.org/"
admindoc = "https://docs.mattermost.com/guides/deployment.html"
userdoc = "https://docs.mattermost.com/guides/messaging.html"
code = "https://github.com/mattermost/mattermost-server"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = ["amd64", "armhf", "arm64"]
multi_instance = true

ldap = false
sso = false

disk = "750M"
ram.build = "350M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/mattermost"

    [install.init_main_permission]
    help.en = "If visitors selected, Mattermost will be accessible by users without a YunoHost account. This can be changed later via the webadmin."
    help.fr = "Si « Visiteurs » est sélectionné, Mattermost sera accessible même par les utilisateurs n’ayant pas de compte YunoHost. Vous pourrez changer ce réglage plus tard dans l’interface d’administration."
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

    [install.version]
    ask.en = "Choose the version you want to install"
    ask.fr = "Choisissez la version que vous souhaitez installer"
    help.en = "Use Team Edition for the open source version (ARM, ARM64 and x86-64 support) or Enterprise Edition if you want to use a license (x86-64 and ARM64 support). Mostlymatter is a fork of Mattermost Team Edition that removes the limitations on users and messages count."
    help.fr = "Utilisez Team Edition pour la version open-source (prise en charge ARM, ARM64 et x86-64) ou Édition Enterprise si vous souhaitez utiliser une licence (prise en charge x86-64 et ARM64). Mostlymatter est un fork de Mattermost qui retire les limitations du nombre d'utilisateurs et de messages."
    type = "select"
    choices = ["Enterprise", "Team", "Mostlymatter"]
    default = "Team"

    [install.language]
    ask.en = "Choose the language of the chat for the admin"
    ask.fr = "Choissisez la langue utilisée par le compte administrateur"
    type = "select"
    choices = ["de", "en", "es", "fr", "it", "pt"]
    default = "fr"

    [install.team_display_name]
    ask.en = "Choose a Team name"
    ask.fr = "Choisissez le nom de l’équipe"
    type = "string"
    example = "Team"
    default = "Team"

[resources]
    [resources.sources]

        [resources.sources.team]
        amd64.url = "https://releases.mattermost.com/11.4.1/mattermost-team-11.4.1-linux-amd64.tar.gz"
        amd64.sha256 = "5dcf8103e5389ea0ee178591bc29d16abd9467c484ce0392f3de2f7daa52ba3a"
        arm64.url = "https://releases.mattermost.com/11.4.1/mattermost-team-11.4.1-linux-arm64.tar.gz"
        arm64.sha256 = "c1264fd123e892e42113aa232bb4b498870636d2fcd8c0d0ed6ce507ad7380d6"
        armhf.url = "https://github.com/remiheens/mattermost-docker-arm/releases/download/v11.3.0/mattermost-v11.3.0-linux-arm.tar.gz"
        armhf.sha256 = "264e21bab1d38d326b0422dfe1c134679faab454fcf0bbadc412e0a92f9800d8"

        [resources.sources.enterprise]
        amd64.url = "https://releases.mattermost.com/11.4.1/mattermost-enterprise-11.4.1-linux-amd64.tar.gz"
        amd64.sha256 = "2edfd6c2d7ca60eedda6c52491cc1c8a1b33369c23feed8867105b77d0af2f11"
        arm64.url = "https://releases.mattermost.com/11.4.1/mattermost-enterprise-11.4.1-linux-arm64.tar.gz"
        arm64.sha256 = "4ff1c41825b81b9ac541c4fd20e6bd5d166a3a62625dd85384e9e9c007a7b973"

        [resources.sources.mostlymatter]
        in_subdir = false
        extract = false
        rename = "mostlymatter"
        amd64.url = "https://packages.framasoft.org/projects/mostlymatter/mostlymatter-amd64-v11.4.1"
        amd64.sha256 = "7e55d4f0c4872d3f1cabf53773932891c63873e42b2ae9f7a5ae1be7dec9851f"
        arm64.url = "https://packages.framasoft.org/projects/mostlymatter/mostlymatter-arm64-v11.4.1"
        arm64.sha256 = "509fc8f642b17d535e205d63e231d9efd3955784b538b945f632c06a30a11811"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]

    [resources.data_dir]
    
    [resources.ports]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "postgresql, pgloader"

    [resources.database]
    type = "postgresql"
