packaging_format = 2

id = "mattermost"
name = "Mattermost"
description.en = "Collaboration platform built for developers"
description.fr = "Plateforme de collaboration conçue pour les développeurs"

version = "11.1.1~ynh1"

maintainers = ["pmorinerie"]

[upstream]
license = "GPL-3.0-only"
website = "http://www.mattermost.org/"
admindoc = "https://docs.mattermost.com/guides/deployment.html"
userdoc = "https://docs.mattermost.com/guides/messaging.html"
code = "https://github.com/mattermost/mattermost-server"

[integration]
yunohost = ">= 12.1.35"
helpers_version = "2.1"
architectures = ["amd64", "armhf", "arm64"]
multi_instance = true

ldap = false
sso = false

disk = "750M"
ram.build = "350M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/mattermost"

    [install.init_main_permission]
    help.en = "If visitors selected, Mattermost will be accessible by users without a YunoHost account. This can be changed later via the webadmin."
    help.fr = "Si « Visiteurs » est sélectionné, Mattermost sera accessible même par les utilisateurs n’ayant pas de compte YunoHost. Vous pourrez changer ce réglage plus tard dans l’interface d’administration."
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

    [install.version]
    ask.en = "Choose the version you want to install"
    ask.fr = "Choisissez la version que vous souhaitez installer"
    help.en = "Use Team Edition for the open source version (ARM, ARM64 and x86-64 support) or Enterprise Edition if you want to use a license (x86-64 and ARM64 support)"
    help.fr = "Utilisez Team Edition pour la version open-source (prise en charge ARM, ARM64 et x86-64) ou Édition Enterprise si vous souhaitez utiliser une licence (prise en charge x86-64 et ARM64)"
    type = "select"
    choices = ["Enterprise", "Team"]
    default = "Team"

    [install.language]
    ask.en = "Choose the language of the chat for the admin"
    ask.fr = "Choissisez la langue utilisée par le compte administrateur"
    type = "select"
    choices = ["de", "en", "es", "fr", "it", "pt"]
    default = "fr"

    [install.team_display_name]
    ask.en = "Choose a Team name"
    ask.fr = "Choisissez le nom de l’équipe"
    type = "string"
    example = "Team"
    default = "Team"

    [install.mostlymatter]
    ask.en = "Do you whant to replace Mattermost backend with Mostlymatter?"
    ask.fr = "Voulez-vous remplacer le backend Mattermost par Mostlymatter ?"
    help.en = "Mostlymatter is a fork of Mattermost meant to remove the users and messages limits."
    help.fr = "Mostlymatter est un fork de Mattermost destiné à supprimer les limites d'utilisateurs et de messages."
    type = "boolean"
    default = true

[resources]
    [resources.sources]

        [resources.sources.main]
        amd64.url = "https://releases.mattermost.com/11.1.1/mattermost-team-11.1.1-linux-amd64.tar.gz"
        amd64.sha256 = "2d10a9adf7d6bf50f3b276518112a17b295c8af06fe201cbfa18ab31fc1d814a"
        arm64.url = "https://releases.mattermost.com/11.1.1/mattermost-team-11.1.1-linux-arm64.tar.gz"
        arm64.sha256 = "7eba2a2732c543108822dcebb441725f7bb019278f7de8614ce7384c8c23cbc2"
        armhf.url = "https://github.com/remiheens/mattermost-docker-arm/releases/download/v11.1.0/mattermost-v11.1.0-linux-arm.tar.gz"
        armhf.sha256 = "50fad1dd82676e4b0b63006143b5479ddfcc40c4536c98b7884b2c162be19496"

        [resources.sources.enterprise]
        amd64.url = "https://releases.mattermost.com/11.1.1/mattermost-enterprise-11.1.1-linux-amd64.tar.gz"
        amd64.sha256 = "dbbf97c2c059acdadf684b58d9ebd746f4602191a34cd10bdfca74824ad19460"
        arm64.url = "https://releases.mattermost.com/11.1.1/mattermost-enterprise-11.1.1-linux-arm64.tar.gz"
        arm64.sha256 = "8b51ff71333c7884d5ae64a84a515548068d40917fe384aabdbc3d378cc3b18a"

        [resources.sources.mostlymatter]
        in_subdir = false
        extract = false
        rename = "mostlymatter"
        amd64.url = "https://packages.framasoft.org/projects/mostlymatter/mostlymatter-amd64-v11.1.0"
        amd64.sha256 = "cda1e15894943bf197e352aea89369cafe15c63f6a7dc6c5742eac927c2eb9ca"
        arm64.url = "https://packages.framasoft.org/projects/mostlymatter/mostlymatter-arm64-v11.1.0"
        arm64.sha256 = "222466afed03a5b3d2f7969933739f2282e3b44c2da59dc1b7ffd223e3b443ee"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]

    [resources.data_dir]
    
    [resources.ports]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "postgresql, pgloader"

    [resources.database]
    type = "postgresql"
