test_format = 1.0

[default]

    # -------------------------------
    # Default args to use for install
    # -------------------------------

    args.email = "john@gmail.com"
    args.admin_password = "admin!42"
    args.version = "Team"
    args.team_display_name = "Mon équipe"

    # -------------------------------
    # Commits to test upgrade from
    # -------------------------------

    #test_upgrade_from.a67ddf1f.name = "Upgrade from 7.8.1"

#["Test-with-Enterprise-Edition"]

    #only = ["install.subdir", "backup_restore", "upgrade" ]
    
    #args.email = "john@gmail.com"
    #args.admin_password = "admin!42"
    #args.version = "Enterprise"
    #args.team_display_name = "Mon équipe"

    #test_upgrade_from.a67ddf1f.name = "Upgrade from 7.8.1"

["Test-with-Mostlymatter-Edition"]

    only = ["install.subdir", "backup_restore", "upgrade" ]
    
    args.email = "john@gmail.com"
    args.admin_password = "admin!42"
    args.version = "Mostlymatter"
    args.team_display_name = "Mon équipe"

    test_upgrade_from.f19bb1cbd16ba751c32163d6791d8bf53909269c.name = "Upgrade from 11.1.1"
