[Unit]
Description=Mattermost
After=network.target
After=mysql.service
Requires=mysql.service

[Service]
Type=notify
ExecStart=__FINALPATH__/bin/mattermost
TimeoutStartSec=3600
Restart=always
RestartSec=10
WorkingDirectory=__FINALPATH__
User=__APP__
Group=__APP__
LimitNOFILE=49152

[Install]
WantedBy=multi-user.target
